.animated-header {
    background: linear-gradient(to right,
            var(--color-text-primary),
            var(--color-primary-accent),
            var(--color-text-primary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-move 3s linear infinite;
    background-size: 200% auto;
    filter: drop-shadow(0 0 8px rgba(63, 114, 175, 0.6));
}

@keyframes rainbow-move {
    to {
        background-position: 200% center;
    }
}